<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nihil laudantium maxime, illo porro quod praesentium, facere, quas eveniet ipsa numquam architecto qui officia iure fugit eos alias. Enim, ab harum. Qui, a. Voluptates, aliquam. Rerum aperiam tempore nobis. Labore?</p>
    </div>
</div>